@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");

$background-color: #2c2a2a;
$footer-color: #323132;
$secondary-color: #aa9683;
$color: #ffffff;
$font-family: "Tiro Gurmukh";

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  

  &__text {
    font-size: 1.2rem;
    width: 2000px;
   
  }

  &__image {
    width: 1000px;
    height: 400px;
  }
}
