@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
}
.navbar__name {
  font-size: 2rem;
  color: #ffffff;
}
.navbar__last-word {
  color: #aa9683;
  font-size: 2rem;
}
.navbar a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 5%;
  padding-top: 20px;
  border-bottom: 5px solid #aa9683;
}

h3 {
  font-size: 3rem;
}

h3:after {
  content: "";
  display: block;
  margin: 0px;
  width: 5%;
  padding-top: 20px;
  border-bottom: 5px solid #aa9683;
}

h4 {
  font-size: 1.5rem;
}

h4:after {
  content: "";
  display: block;
  margin: 0;
  width: 5%;
  padding-top: 20px;
  border-bottom: 5px solid #aa9683;
}

#get-in-touch {
  text-align: center;
  font-size: 3rem;
}

#get-in-touch:after {
  content: "";
  display: block;
  margin: 5;
  margin-left: 520;
  width: 5%;
  padding-top: 20px;
  border-bottom: 5px solid #aa9683;
  margin-bottom: 100px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.contact__button {
  font-size: 24px;
  padding: 19px 19px;
  border-radius: 7px;
  color: #aa9683;
}

* {
  margin: 5;
  padding: 5;
  color: #ffffff;
  font-family: "Tiro Gurmukh";
  background-color: #2c2a2a;
}

main {
  min-width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-gap: 50px;
  row-gap: 40px;
  grid-template-areas: ". experiances__heading interests__heading ." "experiances__list interests__list ";
}
main .experiances__heading {
  grid-area: experiances_heading;
}
main .experiances__list {
  grid-area: experiances__list;
}
main .interests__heading {
  grid-area: interests__heading;
}
main .interests__list {
  grid-area: interests;
}
main .experiances__list h5 {
  font-size: 1.3rem;
  text-decoration: underline;
}
main .experiances__list h6 {
  font-size: 1rem;
}
main .experiances__list ul li {
  font-size: 0.9rem;
  list-style: circle;
}
main .interests__heading {
  grid-area: interests__heading;
  font-size: 1.5rem;
}
main .interests__heading:after {
  content: "";
  display: block;
  margin: 0;
  width: 2%;
  padding-top: 20px;
  border-bottom: 5px solid #aa9683;
}
main .interests__list {
  grid-area: interests__list;
}
main .interests__list ul {
  list-style: none;
}
main .interests__list ul li {
  font-size: 0.9rem;
  list-style: circle;
}

.intro {
  font-size: 1.5rem;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card__project {
  width: 400;
}
.card__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card__info h5 {
  margin-right: 12px;
}
.card__empty-box {
  width: 125px;
  height: 100px;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: darkgray;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #aa9683;
  width: 100%;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}
.about__text {
  font-size: 1.2rem;
  width: 2000px;
}
.about__image {
  width: 1000px;
  height: 400px;
}