@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

$background-color: #2c2a2a;
$footer-color: #323132;
$secondary-color: #aa9683;
$color: #ffffff;
$font-family: "Tiro Gurmukh";


* {
    margin: 20px;
    padding: 5px;
    color: $color;
    font-family: $font-family;
    background-color: $background-color;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;


    &__name {
    font-size: 2rem;
    color:$color;
    }
    &__last-word{
        color:$secondary-color;
        font-size: 2rem;
    }

    a {
        text-decoration: none;
    }
};


h1 {
    font-size:5rem ;
    
}

h1:after {

    content: "";
    display:block;
    margin:0 ;
    width: 5%;
    padding-top: 20px;
    border-bottom: 5px solid $secondary-color;
}

.intro {
    font-size:1.5rem;
    text-align: center;
    margin-right:100px ;
    margin-left: 100px;
}



h3 {
    font-size: 3rem;
}
.card {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   


&__project {
    width:400;
    
}

&__languages {
    display: flex;
    flex-wrap: wrap;
    
    h5 {
        margin-right: 12px;
    }
}

&__empty-box {
    width:125px;
    height:100px;
    border:1px;
    border-style: solid;
    border-color: black;
    background-color: darkgray;
}
}


h3:after {

    content: "";
    display:block;
    margin:0 ;
    width: 5%;
    padding-top: 20px;
    border-bottom: 5px solid $secondary-color;
}

.about {
    display: flex;
    flex-direction: row;
   
    justify-content: space-around;
    

    
    &__text {
        font-size: 1.2rem;
    }
    
    &__image {
        max-width: 500px;
        
    }
};

h4{
    font-size: 1.5rem;
}

h4:after {

    content: "";
    display:block;
    margin:0 ;
    width: 5%;
    padding-top: 20px;
    border-bottom: 5px solid $secondary-color;
}

.experiance-interests {
    display: flex;
    flex-direction: row;

}

.experiance {
    &__info h5 {
        font-size: 1.3rem;
        text-decoration: underline;

    }

    &__info h6 {
        font-size: 1rem;
    }

    &__info ul li {
        font-size: 0.9rem;
        list-style: circle;
    }
}

.subheading-interests {
    font-size: 1.5rem;
}

.subheading-interests:after {

    content: "";
    display:block;
    margin:0 ;
    width: 25%;
    padding-top: 20px;
    border-bottom: 5px solid $secondary-color;
}


.card-interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    

    h5{
        font-size: 1.3rem;
    }
    
}

.contact {
    font-size: 24px;
    padding: 19px 19px;
    border-radius: 7px;

}

.footer {
    display: flex;
    justify-content: center;
  
    

    .linkedin {
        max-height: 40px;
        padding-top: 15px;
    }

    .github {
        max-height: 70px;
       
    }

    .footer__cv {
        padding-top: 60px;
        text-decoration: none;
    }
}
   

